.THIS.tile{
    position:relative;
    display: inline-block;
    width : 100%;
    height: 220px;
    padding : 1px;
 }
.THIS.selected{
    border : 3px solid rgb(0,112,210);
}
.THIS .innertile{
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
     width: 100%;
     height: 100%; 
     
}
.THIS .lower-third{
    position: absolute;
    bottom : 0;
    left : 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.5);
    color : #09efeb;
    padding : 6px 8px;
}