.THIS .imageView{
    background-repeat : no-repeat;
    background-size : contain;
    height : 200px;
    margin : 2px;
}
.THIS .carproperty{
    margin-bottom : 3px;
}
.THIS .label{
    font-weight : bold;
    display : flex;
}