<apex:page standardController="Account" >
<apex:pageBlock >
<apex:pageBlockSection title="Account Details">
{! Account.name }
</apex:pageBlockSection>
<apex:pageBlockSection title="Contact Details">
<apex:relatedList list="contacts"/>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:page>