<apex:page standardController="account">
<apex:pageBlock title="account data">
<apex:pageBlockSection title="account name">
 <h1>you are viewing {!account.name}</h1>
</apex:pageBlockSection>

 

</apex:pageBlock>

  <!-- Begin Default Content REMOVE THIS -->
 
  
  <!-- End Default Content REMOVE THIS -->
</apex:page>