<apex:page controller="MyExtensionController" >
  <apex:form >
    <apex:pageBlock >
   <apex:pageBlockSection >
   <apex:pageBlockSection title="Customer" columns="2" rendered="{!render1}">
       <apex:inputField value="{!objcustomer1.Name__c}" />
       <apex:inputField value="{!objcustomer1.Street1__c}" />
       <apex:inputField value="{!objcustomer1.Email__c}" />
       <apex:inputField value="{!objcustomer1.Street2__c}" />
       <apex:inputField value="{!objcustomer1.Phone__c}" />
       <apex:inputField value="{!objcustomer1.City__c}" />
       <apex:inputField value="{!objcustomer1.State__c}" />
       <apex:inputField value="{!objcustomer1.Country__c}"/> 
       <center><apex:commandButton action="{!save1}" value="Save"/></center>
   </apex:pageBlockSection>
   
    <apex:pageBlockSection title="Customer" columns="2" rendered="{!render3}">
       <apex:outputField value="{!objcustomer1.Name__c}" />
       <apex:outputField value="{!objcustomer1.Street1__c}" />
       <apex:outputField value="{!objcustomer1.Email__c}" />
       <apex:outputField value="{!objcustomer1.Street2__c}" />
       <apex:outputField value="{!objcustomer1.Phone__c}" />
       <apex:outputField value="{!objcustomer1.City__c}" />
       <apex:outputField value="{!objcustomer1.State__c}" />
       <apex:outputField value="{!objcustomer1.Country__c}"/> 
   </apex:pageBlockSection>
   
   
   <apex:pageBlockSection title="Order" columns="2" rendered="{!render2}">
       <apex:inputField value="{!objOrder1.Product__c}" />
       <apex:inputField value="{!objOrder1.Quantity__c}" />
       <apex:inputField value="{!objOrder1.Price__c}" />
       <apex:inputField value="{!objOrder1.Description__c}" />
        <center><apex:commandButton action="{!SaveAndNew}" value="Save and New"/></center>
       
      
   </apex:pageBlockSection>
   
   <apex:pageBlockSection title="Order" columns="2" rendered="{!render4}">
       <apex:outputField value="{!objOrder1.Product__c}" />
       <apex:outputField value="{!objOrder1.Quantity__c}" />
       <apex:outputField value="{!objOrder1.Price__c}" />
       <apex:outputField value="{!objOrder1.Description__c}" />
      
      
   </apex:pageBlockSection>
   <center> <apex:commandButton action="{!save2}" value="Save"/></center>
  
</apex:pageBlockSection> 

  </apex:pageBlock>
   
</apex:form>
</apex:page>