<apex:page standardController="Account">

    <apex:form >

    <apex:pageBlock title="Edit Account: {!Account.Name}">

        <apex:pageBlockSection title="Account Details" columns="2">

            <apex:inputField value="{!Account.Name}" tabOrderHint="1"/>

            <apex:inputField value="{!Account.Website}" tabOrderHint="2"/>

            <apex:inputField value="{!Account.Industry}" tabOrderHint="4"/>

            <apex:inputField value="{!Account.AnnualRevenue}" tabOrderHint="3"/>

        </apex:pageBlockSection>

    </apex:pageBlock>

    </apex:form>

</apex:page>